.ni-page-split {
  min-height: 75vh;
  display: flex;
  flex-flow: column nowrap;
}
.ni-page-split-main {
  flex: 1;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .ni-page-split {
    flex-flow: row nowrap;
    align-items: stretch;
  }
  .ni-page-split-header {
    flex: 0 0 33.3vw;
    margin-bottom: 0;
    border-bottom: none;
  }
  .ni-page-split-main {
    flex: 0 0 66.7vw;
  }
}
@media screen and (min-width: 1280px) {
  .ni-page-split-header {
    flex: 0 0 25vw;
  }
  .ni-page-split-main {
    flex: 0 0 75vw;
  }
}
